<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/developers.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <header>
        <h1><%= title %></h1>

        <nav>
          <a href="/developers/add">
            <button>Add</button>
          </a>
        </nav>
      </header>

      <section>
        <ul>
          <% developers.forEach(developer => { %>
          <li>
            <a href="/developers/<%= developer %>/games">
              <button><%= developer %></button>
            </a>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
