<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/gamesList.css" />
    <link rel="stylesheet" href="/styles/gameCard.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <header>
        <h1><%= title %></h1>

        <nav>
          <a href="/games/add">
            <button>Add</button>
          </a>
        </nav>
      </header>

      <section>
        <ul>
          <% storage.forEach((game, index) => { %>
          <li>
            <a href="/games/list/<%= index %>"
              ><%- include('./partials/gameCard.ejs', {game : game}) %></a
            >
            <% }) %>
          </li>
        </ul>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
