<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/genres.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <header>
        <h1><%= title %></h1>

        <nav>
          <a href="/genres/add">
            <button>Add</button>
          </a>
        </nav>
      </header>

      <section>
        <ul>
          <% genres.forEach(genre => { %>
          <li>
            <a href="/genres/<%= genre.genre %>/games">
              <button><%= genre.genre %></button>
            </a>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
</html>
